{% extends 'layouts/base.html' %} {% block content %}
<!-- Contact Form -->
<section class="bg-light">
  <div class="container">
    <div class="contact-container">
      <div class="p-4">
        <div class="row">
          <div class="col-md-8 text-center">
            <h2 class="text-muted">
              Find <span class="text-warning">Us</span
              ><span class="text-danger"> On Map</span>
            </h2>
            <span class="line-bar fw-bold">...</span>
            <div class="mapouter map">
              <div class="gmap_canvas">
                <iframe
                  class="gmap_iframe"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://maps.google.com/maps?width=600&amp;height=300&amp;hl=en&amp;q=fixenix mobile repairing Ward no -42 siliguri&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                ></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-4 bg-white rounded-5 p-4 mt-4">
            <form method="post" id="ContactForm" enctype="multipart/form-data">
              {% csrf_token %}
              <h2 class="text-center">
                <strong>Get <span class="text-warning">In </span></strong
                ><span class="text-danger">Touch !</span>
              </h2>
              <div class="col-md form-floating pb-2">
                {{ form_contact.name }}
                <li class="errors">{{ form_contact.name.errors }}</li>
                <label for="floatingInput text-bold">
                  <i class="bi bi-people-fill mr5 form-i"></i>
                  <span class="text-color-black fw-bold mb-3">Name</span>
                </label>
              </div>
              <div class="col-md form-floating pb-2">
                {{ form_contact.email }}
                <li class="errors">{{ form_contact.email.errors }}</li>
                <label for="floatingInput text-bold">
                  <i class="bi-envelope-at-fill mr5 form-i"></i>
                  <span class="text-color-black fw-bold mb-3">Email</span>
                </label>
              </div>
              <div class="col-md form-floating">
                {{ form_contact.message }}
                <li class="errors">{{ form_contact.message.errors }}</li>
                <label for="floatingInput text-bold">
                  <i class="bi bi-chat-left mr5 form-i"></i>
                  <span class="text-color-black fw-bold mb-3">Message</span>
                </label>
              </div>
              <div class="mt-3 mx-4">
                {{ form_contact.captcha }}
                <li class="errors">{{ form_contact.captcha.errors }}</li>
              </div>
              <div class="mb-2">
                <button class="btn-red d-block w-100" type="submit">
                  <i class="bi bi-send-check mr10"></i>Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form -->
<script>
  // FOrm Submit
  $(document).ready(function () {
    $(".preloader").hide();
    $("#ContactForm").on("submit", function () {
      $(".preloader").fadeIn();
    }); //submit
  });
  // end form submit
</script>
{% endblock %}
