{% extends 'layouts/base.html' %}

{% block content %}
<div class="container my-5 py-4 bg-light rounded shadow-lg">
  

  <h1 class="display-4 text-primary mb-4">Disclaimer</h1>
  <p class="text-muted mb-4">Last updated: August 25, 2024</p>
  
  <div class="mb-4">
    <p class="lead">Welcome to Fixenix. The information provided by Fixenix ("we," "us," or "our") on this website is for general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any information on the Site.</p>
  </div>
  
  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">Repair Services</h2>
      <p class="card-text">Our repair services, including those for mobile phones, laptops, computers, and CCTV systems, are provided with the highest level of care. However, we do not guarantee that our services will be error-free or that they will meet all of your expectations.</p>
    </div>
  </div>

  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">External Links</h2>
      <p class="card-text">Our website may contain links to external sites that are not provided or maintained by or in any way affiliated with Fixenix. Please note that Fixenix does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external sites.</p>
    </div>
  </div>

  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">Use of Logos and Images</h2>
      <p class="card-text">All logos, trademarks, and images displayed on this website are the property of their respective owners. Fixenix does not claim ownership of any logos, trademarks, or images that belong to third parties. The use of these logos and images on our website is intended for informational purposes only and does not imply endorsement or affiliation with the respective owners. If you believe that any content on this website infringes upon your intellectual property rights, please contact us to address your concerns.</p>
    </div>
  </div>
  
  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">Limitation of Liability</h2>
      <p class="card-text">In no event shall Fixenix, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your use of or inability to use the Site; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein.</p>
    </div>
  </div>
  
  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">Changes</h2>
      <p class="card-text">We reserve the right to update or change our Disclaimer at any time and you should check this Disclaimer periodically. Your continued use of the Service after we post any modifications to the Disclaimer on this page will constitute your acknowledgment of the modifications and your consent to abide by and be bound by the modified Disclaimer.</p>
    </div>
  </div>

  <div class="card bg-white rounded shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title text-primary">Contact Us</h2>
      <p class="card-text">If you have any questions about this Disclaimer, please contact us:</p>
      <ul class="list-unstyled">
        <li>Email: <a href="mailto:info@fixenix.com" class="text-primary">info@fixenix.com</a></li>
        <li>Address: Siliguri, West Bengal, India</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
