{% extends 'layouts/base_dash.html'%} 
{% load crispy_forms_tags %}
{% block content %}
<main class="main-content">
  <div class="bg-light">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'dashboard:index' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {% if pagename %}{{ pagename }}{% endif %}
          </li>
        </ol>
      </nav>
      <div class="btn-toolbar mb-2 me-1 mb-md-1">
        <div class="btn-group me-1">
          <a href="{% url 'dashboard:delivery_list' %}" type="button" class="btn btn-warning"><i class="bi bi-arrow-left"></i> Back</a>
        </div>
      </div>
    </div>
    <!-- Dashboard Counts Section-->
    <div class="card box-lg">
      <div class="row">
        <div class="w-100">
         {% if messages %}
          <div class="messages">
           {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
           {% endfor %}
          </div>
          {% endif %}
          <h3 class="text-center text-muted">Delivery Status Update</h3>
          <hr />
           <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-2 mb-3">
              <div class="col-md">{{ form|crispy }}</div>
              <div class="text-end">
                <a type="button" class="btn btn-danger" href="{% url 'dashboard:delivery_list' %}" >
                  <i class="bi bi-caret-left"></i>Back</a>
                <button type="submit" value="filter" class="btn btn-primary">
                  <i class="bi bi-send-check mr10"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
    const updateDeliveryStatus = (deliveryId, newStatus) => {
    fetch(`/deliveries/update-status/${deliveryId}/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": "{{ csrf_token }}",
        },
        body: new URLSearchParams({ status: newStatus }),
    })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                alert("Delivery status updated to: " + data.status);
            }
        })
        .catch(error => console.error("Error updating status:", error));
};
</script>
{% endblock %}