{% extends 'layouts/base.html' %}
{% block content %}

<!-- MOBILE SERVICES START -->
<div class="bg-light pt-2 mt-3">
    <div class="container px-4 text-center">
        <div class="row mb-4">
            <h2 class="fw-bold text-muted">
                Electronics<span class="text-warning"> </span>
                <span class="text-danger">Devices</span>
            </h2>
            <h5>
                We <em class="text-primary">Provide</em> The Best Service With
                <span class="text-danger">Experience </span> &
                <span class="text-warning">
                    Well Trained <span class="text-muted">Staff</span>
                </span>
            </h5>
        </div>
        <div class="row">
            <div class="col-6 col-md-3 mb-3">
                <div class="service-block">
                    <img src="/static/codefyn-5.0/images/services/electronics/TV.png" alt="TV & Monitor">
                    <div class="service-block-content">
                        <p class="fw-bold">TV & Monitor</p>
                        <p class="text-danger">Solutions</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <div class="service-block">
                    <img src="/static/codefyn-5.0/images/services/electronics/CAMERA.png" alt="Camera">
                    <div class="service-block-content">
                        <p class="fw-bold">Camera</p>
                        <p class="text-danger">Solutions</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <div class="service-block">
                    <img src="/static/codefyn-5.0/images/services/electronics/home.png" alt="Sound System">
                    <div class="service-block-content">
                        <p class="fw-bold">Sound System</p>
                        <p class="text-danger">Solutions</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 mb-3">
                <div class="service-block">
                    <img src="/static/codefyn-5.0/images/services/electronics/dj.png" alt="DJ">
                    <div class="service-block-content">
                        <p class="fw-bold">DJ</p>
                        <p class="text-danger">Solutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE SERVICES END-->

{% endblock %}