<div class="container py-5">
    <section class="popular text-center">
        <h2 class="fw-bold text-primary text-gradient mb-4">We Repair Most Popular Brands</h2>
        <hr class="mb-4 mx-auto" style="width: 150px; height: 3px; background-color: #0d6efd; border: none;" />
        
        <div class="slider">
            <div class="slider-track">
                <div class="slider-items">
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/oppo.png" alt="Oppo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/vivo.png" alt="Vivo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/mi.png" alt="Mi" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/nokia.png" alt="Nokia" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/microsoft.png" alt="Microsoft" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/micromax.png" alt="Micromax" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/lava.png" alt="Lava" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/jio.png" alt="Jio" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/lenovo.png" alt="Lenovo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/asus.png" alt="Asus" /></a>
                </div>
                <!-- Duplicate for smooth infinite scroll -->
                <div class="slider-items">
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/oppo.png" alt="Oppo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/vivo.png" alt="Vivo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/mi.png" alt="Mi" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/nokia.png" alt="Nokia" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/microsoft.png" alt="Microsoft" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/micromax.png" alt="Micromax" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/lava.png" alt="Lava" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/jio.png" alt="Jio" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/lenovo.png" alt="Lenovo" /></a>
                    <a href="#"><img src="/static/codefyn-5.0/images/brands/asus.png" alt="Asus" /></a>
                </div>
            </div>
        </div>

    </section>
</div>

