<section class="cert-rating-section">
    <div class="container">
        <div class="section-heading mb-4">
            <h2 class="text-gradient fw-bold mb-4">Our Certifications & Google Ratings</h2>
            <div class="line-bar"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4" data-aos="fade-right">
                <div class="cert-rating-box">
                    <img src="/static/codefyn-5.0/images/certify/msmer.png" alt="Certification 1">
                    <h3>MSME Certified</h3>
                    <p>UAN No: WB090025867.</p>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="200">
                <div class="cert-rating-box">
                    <img src="/static/codefyn-5.0/images/certify/g.png" alt="Google Rating">
                    <h3>Google Rating</h3>
                    <p>4.8/5 based on 200+ reviews.</p>
                </div>
            </div> -->
            <div class="col-md-3 mb-4" data-aos="fade-right" data-aos-delay="400">
                <div class="cert-rating-box">
                    <img src="/static/codefyn-5.0/images/certify/smc.jpg" alt="Certification 2">
                    <h3>SMC Certified</h3>
                    <p>Certificate No: 453741.</p>
                </div>
            </div>
            <div class="col-md-3 mb-4" data-aos="fade-right" data-aos-delay="600">
                <div class="cert-rating-box">
                    <img src="/static/codefyn-5.0/images/certify/wb-professional-tax.png" alt="WB Professional Tax">
                    <h3>WB PT</h3>
                    <p>Registration No: 193000800123.</p>
                </div>
            </div>
            <div class="col-md-3 mb-4" data-aos="fade-right" data-aos-delay="800">
                <div class="cert-rating-box">
                    <img src="/static/codefyn-5.0/images/certify/gst.png" alt="GST Certification">
                    <h3>GST Registered</h3>
                    <p>GSTIN: 19DUHPS0952R1ZN.</p>
                </div>
            </div>
        </div>
    </div>
</section>
