<!-- Footer -->
<footer class="text-white bg-dark mt-5">
  <div class="container p-5">
    <!-- Logo -->
    <div class="text-center mb-4">
      <a href="#">
        <img src="/static/codefyn-5.0/images/certify/msme.png" alt="Fixenix Logo" class="footer-logo">
        <p class="certificate-number text-light">UAN No: WB090025867.</p> <!-- Added certificate number -->
      </a>
    </div>

    <div class="row text-center text-md-start">
      <!-- About Us -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 font-weight-bold text-gradient">About Us</h5>
        <p class="text-white">At Fixenix, we deliver top-tier repair services for smartphones, iPhones, laptops, and computers. Our expert technicians are here to solve your device issues efficiently. Busy? Opt for our doorstep services for your convenience.</p>
      </div>
      <!-- Address -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 font-weight-bold text-gradient">Address</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-center">
            <i class="bi bi-geo-alt-fill me-2" style="font-size: 1.5rem;"></i> Ward No-43, Check Post, Siliguri
          </li>
          <li class="mb-3 d-flex align-items-center">
            <i class="bi bi-envelope me-2" style="font-size: 1.5rem;"></i> <a href="mailto:info@fixenix.com" class="text-white">info@fixenix.com</a>
          </li>
          <li class="d-flex align-items-center">
            <i class="bi bi-phone me-2" style="font-size: 1.5rem;"></i> +91 7992351609
          </li>
        </ul>
      </div>
      <!-- Opening Hours -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 font-weight-bold text-gradient">Opening Hours</h5>
        <ul class="list-unstyled">
          <li class="mb-3 d-flex align-items-center">
            <i class="bi bi-calendar me-2" style="font-size: 1.5rem;"></i> Mon-Sat <i class="bi bi-clock-fill ms-2 me-2"></i> 10:00am - 9:00pm
          </li>
          <li class="d-flex align-items-center">
            <i class="bi bi-calendar me-2" style="font-size: 1.5rem;"></i> Sunday <i class="bi bi-clock-fill ms-2 me-2"></i> 11:00am - 6:00pm
          </li>
        </ul>
      </div>
    </div>

    <!-- Social Media Icons -->
    <div class="text-center mt-4">
      <ul class="list-inline social-icons-footer">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Fixenix.mobile/" target="_blank" class="text-white p-3 d-inline-flex align-items-center justify-content-center " title="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.youtube.com/channel/UCuAfKZwQtA6b8YJV1ofVoCQ" target="_blank" class="text-white p-3 d-inline-flex align-items-center justify-content-center" title="YouTube">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/fixenix_official/" target="_blank" class="text-white p-3 d-inline-flex align-items-center justify-content-center" title="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
   
    <!-- Footer Links and Copyright -->
    <hr class="bg-light mt-4 mb-3" />
    <div class="text-center mb-3">
      <a href="{% url 'disclaimer' %}" class="text-white me-2 text-gradient">Disclaimer</a> | 
      <a href="{% url 'privacy_policy' %}" class="text-white ms-2 text-gradient">Privacy Policy</a> |
      <a href="{% url 'terms_and_conditions' %}" class="text-white ms-2 text-gradient">Terms of Services</a>
    </div>
    <div class="text-center text-white p-3">
      © 2023 <a class="text-white font-weight-bold" href="https://fixenix.com/">Fixenix</a>
    </div>
  </div>
</footer>


