<!-- Footer -->
</div>
<footer class="text-white bg-dark mt-5 ">
  <div class="container p-4">
    <div class="row mt-4">
      <!--1-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About Us</h5>
        <p class="about text-white">We Provide Professional Repair Services for a Wide Range of Smart Phone, Iphone, Laptop and Computer Issues. Let Our Expert Technicians Solve Your Device Woes for You. Bring Your Phone in Now! if Your Are Busy and repair wanted to be done at your Place go for our Doorstep Services that is available for you.</p>
      </div>
      <!--2-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Address</h5>
        <li class="mb-0">
          <span class="fa-li"><i class="bi bi-geo-alt-fill"></i></span>
          <span class="ms-2"> Ward No-43 ,Check Post,Siliguri</span>
        </li>
        <li class="mb-0">
          <span class="fa-li"><i class="bi-envelope"></i></span>
          <span class="ms-2"> info@fixenix.com </span>
        </li>
        <li class="mb-0">
          <span class="fa-li"><i class="bi-phone"></i></span>
          <span class="ms-2">+917992351609</span>
        </li>
      </div>
      <!--3-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening Hours</h5>
        <li class="mb-3">
          <span class="fa-li">
            <i class="bi bi-calendar"></i>
          </span>
          <span class="ms-2"> Mon-Sat </span>
          <span class="ms-2"></span>
          <i class="bi bi-clock-fill"></i>
          <span class="ms-2"></span>10:00am-9:00pm
        </li>
        <li class="mb-3">
          <span class="fa-li"><i class="bi bi-calendar"></i></span>
          <span class="ms-2">Sunday </span> <span class="ms-2"></span
          ><i class="bi bi-clock-fill"></i>
          <span class="ms-2"></span>11:00am-6:00pm
        </li>
      </div>
    </div>
  </div>
  <!-- End Footer -->
  <!-- Copyright -->
  <hr />
  <div style="text-align: center">
    <ul class="social-icons-footer">
      <li>
        <a
          href="https://www.facebook.com/Fixenix.mobile/"
          target="_blank"
          title=""
        >
          <i class="bi bi-facebook"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCuAfKZwQtA6b8YJV1ofVoCQ"
          target="_blank"
          title=""
        >
          <i class="bi bi-youtube r"></i>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/fixenix_official/"
          target="_blank"
          title=""
        >
          <i class="bi bi-instagram r"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <a href="{% url 'disclamer' %}">Disclaimer</a> | <a href="{% url "terms_and_conditions" %}">Privacy Policy</a>
  </div>
  <div class="text-center text-white p-3">
    © 2023 Copyright :
    <a class="text-white" href="https://fixenix.com/"
      >Fixenix Tech Services</a
    >
  </div>
</footer>
