
<section class="rating-section p-5">
    <div class="rating-container">
        <h3 class="rating-header text-gradient">Google Rating</h3>
        <div class="rating-value">4.9/5</div>
        <div class="star-icons">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
        </div>
        <p class="review-count text-gradient">(Based on 439 reviews)</p>
        <button class="btn-gradient">Submit Your Review</button>
    </div>
</section>
