<main>
  <div class="bg-light">
    <div class="container">
      <div id="myCarousel" class="carousel slide bgbanner bg-light" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        
          <!-- Slide 1 - Fast Services -->
          <div class="carousel-item active">
            <div class="carousel-caption text-dark text-start">
              <h2><span class="text-wrap text-muted">Lightning-Fast </span><span class="text-warning">Repairs</span></h2>
              <p><span class="text-wrap">Need a quick fix? Our expert technicians provide **same-day repairs** to get you back up and running **in no time!**</span></p>
              <p><a class="slider-btn danger" href="tel:+917992351609"><i class="bi bi-telephone-outbound"></i> Call Now: +91 79923 51609</a></p>
            </div>
          </div>

          <!-- Slide 2 - Expert Engineers -->
          <div class="carousel-item">
            <div class="carousel-caption text-dark text-start">
              <h2><span class="text-wrap">Certified</span> <span class="text-warning">Technicians</span></h2>
              <p><span class="text-wrap">Your devices are in safe hands! Our team of **certified professionals** ensures top-quality repairs with precision and care.</span></p>
              <p><a class="slider-btn success" href="https://wa.me/7992351609?text=Hi, I wanna ask about something?" target="_blank"><i class="bi bi-whatsapp mr10"></i> Chat On WhatsApp: +91 79923 51609</a></p>
            </div>
          </div>

          <!-- Slide 3 - Low Price Guarantee -->
          <div class="carousel-item">
            <div class="carousel-caption text-dark text-start">
              <h2><span class="text-dark text-wrap">Unbeatable </span><span class="text-danger">Prices </span><span class="text-warning">Guaranteed</span></h2>
              <p><span class="text-wrap">High-quality repairs at **affordable prices**! We promise **the best rates** without compromising on service.</span></p>
              <p><a class="slider-btn info" href="https://www.facebook.com/Fixenix.mobile"><i class="bi bi-messenger mr10"></i> Chat On Facebook</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
