<main>
  <div class="container">
    <div id="myCarousel" class="carousel slide bgbanner bg-light" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption text-dark text-start">
            <h1><span class="text-wrap text-muted">Fast </span><span class="text-warning">Services</span></h1>
            <p><span class="text-wrap">We have a group of innovative and friendly staff, so we make repairs easy and fast.</span></p>
            <p><a class="slider-btn danger" href="tel:+917992351609"><i class="bi bi-telephone-outbound"></i> Call Us: +917992351609</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption text-dark text-start">
            <h1><span class="text-wrap">Expert</span> <span class="text-warning">Engineers</span></h1>
            <p><span class="text-wrap">We have a team of trained and experienced professionals in this field.</span></p>
            <p><a class="slider-btn success" href="https://wa.me/7992351609?text=Hi, I wanna ask about something?" target="_blank"><i class="bi bi-whatsapp mr10"></i> Chat On WhatsApp: +917992351609</a></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption text-dark text-start">
            <h1><span class="text-dark text-wrap">Low </span><span class="text-danger">Price </span><span class="text-warning">Guarantee</span></h1>
            <p><span class="text-wrap">Repairing prices should not break the bank.</span></p>
            <p><a class="slider-btn info" href="https://www.facebook.com/Fixenix.mobile"><i class="bi bi-messenger mr10"></i> Chat On Facebook</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
